body{
    background-color:#f5d9d5;
}
.navbar.scrolled {
    background-color:saddlebrown;
    transition: background-color 200ms linear;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;

}
.navbar-col
{
    float: left;
    text-align: left;
}

#mainNavbar .navbar-brand
{
    color: #EA1C2C;
}
#mainNavbar .nav-link
{
    color: white;
}
#mainNavbar .nav-link:hover
{
    color: #EA1C2C;
}

#emb{
    color: #EA1C2C;
}



@media (max-width: 988px)
{
    #hgroup h2{
        font-weight: 100;
        font-size: 1.5rem;
    }
}
@media (max-width: 992px)
{
    #mdgroup div:nth-of-type(1){
        order: 2;

    }
    #mdgroup div:nth-of-type(2){
        order: 1;

    }
    div{
        flex-direction: column;

    }
    div h2{
        font-size:1.5rem;
    }
    .content{
        margin-top: 20px;
    }

    #hgroup{
        margin-top: 50px;
    }

}

